html,body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	padding: 50px;
	text-align: center;
	background-image: url(https://i.pinimg.com/originals/e4/d8/eb/e4d8eb9d1d0f659581709cc8a369bc70.gif);
	background-repeat: repeat-x;
}

h1{
	font-size: 70px;
	color: white;
	text-shadow: 0 4px 20px gray;
}
header img{
	border-radius: 150px;
	width: 200px;
	border:10px solid #ffffff;
	box-shadow: 0 10px 20px gray;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
img.big-gif{
	max-width: 100%;
	width: 6000px;

}
p.caption{
	font-size: 16px;
	color: lightgray;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
a{
	color: violet;
	text-decoration: none;
	text-align: center;
}


footer{
	margin-top: 40px;
	padding: 40px 20px;
	background-color: #8fe8f2;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}
